body {
    background:rgba(0, 0, 0, 0.04);
    font-family: 'Open Sans', sans-serif;
}

a {
    color:rgba(0, 0, 0, .8);
}

a:visited {
    color:rgb(255, 0, 0);
}

#kochbuch {
    padding-top:100px;
    margin:0 auto 0 auto;
    width:70%;
}

#kochbuch-navigation {
    border:1px solid rgba(0, 0, 0, .08);
    border-left:none;
    border-right:none;
    color:#ffffff;
    margin:60px 0 60px 0;
    padding:20px 0 20px 0;
}

#kochbuch-navigation .kochbuch-navigation-entry {
    padding:10px 0;
}

#kochbuch-navigation .kochbuch-navigation-entry a {
    color:rgba(0, 0, 0, .5);
    text-decoration:none;
}

#kochbuch-navigation .kochbuch-navigation-entry a:hover {
    color:#000;
}

h1 {
    color:rgba(0, 0, 0, .8);
    font-size:300%;
    font-weight:100;
    text-align:center;
}

.rezept {
    background:#ffffff;
    box-shadow:0 0 10px 5px rgba(0, 0, 0, 0.05);
    border-radius:5px;
    margin-bottom:40px;
    padding:20px 40px 20px 40px;
}

.rezept .rezept-description {
    opacity:.6;
    line-height:35px;
}