body {
    background:#ededed;
    font-family:'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-weight:100;
    overflow:hidden;
}

h1, h2 {
    font-weight:100;
}

#wrapper {
    margin:0 auto;
    width:960px;
}

#wrapper header {
    text-align:center;
}

#wrapper header .description {
    opacity:.5;
}


.button {
    background:#81b71a;
    border-radius:5px;
    color:#fff;
    display:block;
    padding:10px 0;
    text-align:center;
    text-decoration:none;
    width:150px;
}

.button.button-centered {
    margin:20px auto 10px;
}

#wrapper canvas {
    background:#fff;
    border:1px solid #ededed;
    box-shadow:0 0 70px 0 rgba(0,0,0,0.25);
    margin-top:50px;
}